[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "gfpop"]
	path = gfpop
	url = https://github.com/vrunge/gfpop
	shallow = true
	registered = true
[submodule "slopeOP"]
	path = slopeOP
	url = https://github.com/cran/slopeOP
	shallow = true
	registered = true
[submodule "gfpop.data"]
	path = gfpop.data
	url = https://github.com/vrunge/gfpop.data
	shallow = true
	registered = false
