[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gfpop"]
	path = gfpop
	url = https://github.com/cran/gfpop
[submodule "svpChange"]
	path = svpChange
	url = https://github.com/vrunge/svpchange
